/**
 * General styles
 */

body {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.8em;
  color: #2C3E50;
  font-size: 18px;
  background-color: #2C3E50;
}

a {
  color: white;
  text-decoration: none;
}

p {
  margin: 20px 0;
}

/* Fixed-width content */
.container {
  margin: auto;
  padding: 20px;
  max-width: 1200px;
}

.title {
  line-height: 1em;
}

.list {
  margin: 20px 0;
  list-style-type: circle;
}

.list-item {
  margin: 5px 0 5px 40px;
}

.section {
  padding: 20px 0 40px 0;
}

/* Alternate section background colors */
.section:nth-child(odd) {
  background-color: white;
}
.section:nth-child(even) {
  background-color: #246ab4;
  color: white;
}

.section:nth-child(even) .item .alt-color {
  color: white;
}

.section .container > .title {
  margin: 20px 0 40px 0;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

.section .item {
  margin-bottom: 50px;
}
.section .item .title,
.section .item .alt-color {
  font-weight: bold;
}

.section .item .alt-color {
  color: #246ab4;
}

.section .indent {
  margin: 40px 0 0 3em;
}

.section .sub-item {
  margin-top: 40px;
}

.section .sub-item .list {
  margin: 0;
}

/**
 * Specific styles
 */

#nav-bar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(44,62,80);
  color: white;
  text-transform: uppercase;
}

#nav-bar .container {
  padding: 0;
}

/* Layout the avatar and menu icon in the bar */
#nav-bar .layout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-bar .avatar {
  margin: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  background-color: #246ab4;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  overflow: hidden;
}

#nav-bar .toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#nav-bar .toggle-btn img {
  margin: 10px 20px;
  width: 30px;
}

#nav-bar .menu {
  border-top: 1px solid white;
  list-style: none;
  overflow: hidden;
  height: 0;
}

#nav-bar .menu .item {
  display: block;
}

#nav-bar .menu .item .link {
  display: block;
  padding: 10px 10px;
  font-weight: bold;
  font-size: 0.8em;
}

.nav-transition {
  transition: height 0.5s ease;
}

@media (min-width: 1000px) {

  /* Layout the avatar with the nav menu instead of the button */
  #nav-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Remove the layout for the menu button */
  #nav-bar .layout-container {
    display: block;
  }

  #nav-bar .toggle-btn {
    display: none;
  }

  #nav-bar .menu {
    height: auto;
    border-top: none;
  }

  #nav-bar .menu .item {
    display: inline-block;
  }

  #nav-bar .menu .item .link {
    padding: 20px 10px;
    font-size: 1em;
  }
}

#header {
  padding: 80px 0;
  text-align: center;
  background: url("../../images/circuit.png") no-repeat;
  background-size: cover;
  color: white;
}

#header .title {
  display: inline-block;
  padding-bottom: 10px;
  margin: 40px 0 10px 0;
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 4px solid white;
}

#header .subtitle {
  font-size: 1.5em;
}