<% if (theme.about) { %>
  <div id="about-section" class="section">
    <div class="container">
      <p><%- theme.about.summary %></p>
      <ul class="list">
        <% theme.about.details.forEach(function(detail) { %>
          <li class="list-item"><%- detail %></li>
        <% }) %>
      </ul>
    </div> <!-- end container -->
  </div> <!-- end section -->
  <span></span>
<% } %>
