<div id="footer">Copyright &copy; <%- date(Date.now(), 'YYYY') %> <%= theme.name %></div>

<script src="js/app.js" charset="utf-8" async></script>
<script src="js/_loadCSS.js?__inline=true" charset="utf-8"></script>
<script src="js/_cssrelpreload.js?__inline=true" charset="utf-8"></script>
