<div id="socials">
  <% for (social in theme.socials) { %>
    <a class="social <%= social %>" target="_blank" href="<%= theme.socials[social] %>"><img alt="<%= social %>" src="images/_<%= social %>" /></a>
  <% } %>
</div>

