<% if (theme.volunteer) { %>
  <div id="volunteer-section" class="section">
    <a id="volunteer-anchor" class="anchor"></a>
    <div class="container">
      <h2 class="title">Volunteer Work</h2>
      <% theme.volunteer.forEach(function(volunteer) { %>
        <div class="item">
          <h3 class="title"><%= volunteer.institution %>,&nbsp;<span class="alt-color"><%= volunteer.title %></span>, <%= volunteer.date %></h3>
          <ul class="list">
            <% volunteer.details.forEach(function(detail) { %>
              <li class="list-item"><%= detail %></li>
            <% }) %>
          </ul>
        </div>
      <% }) %>
    </div> <!-- end container -->
  </div> <!-- end section -->
<% } %>
